# Python
backend/venv_linux/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
build/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Misc
.DS_Store
*.log
